<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite">
	<groups>  
	<run>  
	<exclude name="sample"/>  
	</run>  
	</groups>  
    <test name="TestNG test">
         <classes>
             <class name="TestNG.LoginTest"/>
             <class name="TestNG.NewCustomerTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->